{
  "type": "carousel",
  "contents": [
    {% for bus_data in bus_stop_info %}
    {
      "type": "bubble",
      "size": "kilo",
      {% if bus_data %}
      "header": {
        "type": "box",
        "layout": "vertical",
        "contents": [
          {
            "type": "box",
            "layout": "baseline",
            "contents": [
              {
                "type": "text",
                "text": {{ bus_type_names.get(bus_data.bus_type, '校園公車') | tojson }},
                "weight": "bold",
                "size": "md",
                "color": "#2196F3",
                "margin": "sm",
                "flex": 0
              }
            ],
            "alignItems": "center"
          }
        ],
        "paddingAll": "md",
        "backgroundColor": "#E3F2FD"
      },
      "body": {
        "type": "box",
        "layout": "vertical",
        "contents": [
          {
            "type": "box",
            "layout": "horizontal",
            "contents": [
              {
                "type": "text",
                "text": "到站時間",
                "color": "#AAAAAA",
                "size": "sm"
              },
              {
                "type": "text",
                "text": {{ bus_data.arrive_time | default('未知') | tojson }},
                "weight": "bold",
                "size": "xl",
                "align": "end",
                "color": "#2196F3"
              }
            ],
            "spacing": "md"
          }
        ],
        "paddingAll": "md"
      },
      "footer": {
        "type": "box",
        "layout": "vertical",
        "contents": [
          {
            "type": "text",
            "text": {{ ('發車站點：' ~ bus_data.dep_stop) | tojson }},
            "size": "sm",
            "color": "#666666",
            "wrap": true
          },
          {
            "type": "text",
            "text": {{ ('發車時間：' ~ bus_data.dep_time) | tojson }},
            "size": "sm",
            "color": "#666666"
          },
          {
            "type": "text",
            "text": {{ (bus_data.description or '無備註') | tojson }},
            "size": "sm",
            "color": "#666666",
            "wrap": true
          }
        ],
        "paddingAll": "md",
        "spacing": "sm"
      },
      "styles": {
          "footer":{
              "separator": true
          }
      }
      {% else %}
      "body": {
        "type": "box",
        "layout": "vertical",
        "contents": [
          {
            "type": "text",
            "text": "目前沒有其他公車資訊",
            "align": "center",
            "color": "#AAAAAA",
            "wrap": true
          }
        ],
        "paddingAll": "md"
      }
      {% endif %}
    }
    {% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}